h1 A cerca de
p Clon de Twitter en Ruby on Rails 5. para ver mas detalles en <a href="https://github.com/rrg1459/rtc2017">Github</a>.
p Desarrollado por: <a href="mailto:rrg1459@hotmail.com&subject=Sobre%20la%20aplicacion%20''Clon%20de%20Twitter''%20en%20RoR5&body=Nos%20parece%20interesante%20y%20quisieramos%20ponernos%20en%20contacto%20con%20usted!!!"> Rafael</a>
